head,body {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #EFECE3;
}
form {
    background-color: #7B5B4D;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    margin: 2vw 10vw;
    padding: 2vw;
}
input {
    margin: 1vw;
    width: 100%;
    background-color: #D0C1AB;
    border-radius: 0.2rem;
    border: 0;
}
#form_div_lu_dni > input {
    width: 41%;
}
input:focus {
    background-color: #71A3C0;
}
label {
    color: #D0C1AB
}
label:focus {
    color: #DE6915;
}