head,body {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #EFECE3;
}
form {
    background-color: #7B5B4D;
    border-radius: 0.5rem;
    font-weight: bold;
    margin: 2vw 10vw;
    padding: 2vw;
}

#form_div_lu_dni {
    display: flex;
    justify-content: space-evenly;
}

#form_div_lu_dni > div {
    width: 48%;
}
input {
    margin: 1vw 0;
    padding: 1vw;
    width: 95%;
    background-color: #D0C1AB;
    border-radius: 0.2rem;
    border: 0;
}

@media (max-width: 600px) {
input {
    margin: 1vw 0;
    width: 100%;
}
}
input:focus {
    background-color: #71A3C0;
}
label {
    color: #D0C1AB
}
label:focus {
    color: #DE6915;
}